module Furbot
    module Config
        HOST = { :server => '<server>', :password => '<serverpassword>', :port => <serverport>, :ssl => <true|false>, :channels => ["#channel1","#channel2"] }
        BOT = { :nick => 'furbot', :user => 'furbot', :realname => 'furbot', :password => '<bot nickserv pass>' }
        OPTIONS = { :delay_joins => :identified }
        PLUGINS = { :prefix => '.', :plugins => [Cinch::Plugins::Identify,Cinch::Plugins::LinkScraper,Cinch::Plugins::Calculate,Cinch::Plugins::DownForEveryone,Cinch::Plugins::Weatherman,Cinch::Plugins::Google] }
        IDENTIFYOPTS = { :type => :nickserv }
    end
end
